.div1{
    background-color: rgb(252, 213, 163);
}
.div2{
    background-color:rgb(188, 244, 244);
}
.div3{
    background-color:rgb(243, 153, 89);
}

.container{
    border: 2px solid black;
    /* Limita o tamanho do elemento */
    max-width: 400px;
    margin: 0 auto;
    display: flex;
}

.item{
    background-color: #3cd5ff;
    margin: 5px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.flex{
    display: flex;
    flex-direction: column
    

}

.flex > div > img{
    height: 125px;
    width: 130px;
}

.div_coluna{
    height: 60;
    width: 130px;
    background-color: rgb(166, 202, 204);
}

.secao{
    display: flex;
    flex-direction: row;
    background-color: brown;
    /* Coloca um espaço entre os elementos */
    gap: 10px;
    flex-wrap: wrap;

}

.secao-imagem {
    height: 150px;
    width: 150px;
}

.alinhar-esquerda{
    display: flex;
    flex-direction: flex-start;
}

.alinhar-centro{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.alinhar-direita{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.alinhar-entre{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.alinhar-redor {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.alinhar-coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color:rgb(222, 203, 183);
}

.alinhar-itens-centro {
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color:rgb(243, 189, 90);
    align-items: center;
    justify-content: space-between;
}